.general{
	background-color: #111e6c;
	display: flex;
	flex-flow: column nowrap;
}

.header{
	height: 4em;
}

.barra{
	background-color: #1d2951;
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
	align-items: center;
}

.logo{
	background-color: #1d2951;
	flex: 1 1 auto;
	height: 100%;
	width: 15%;
	display: flex;
	align-items: center;
}

.logo img{
	position: absolute;
	left: 1.5%;
}

.logo h1{
	position: relative;
	left: 25%;
	text-decoration: none;
	font-size: 14px;
	margin: 0 15px;
	color: white;
	font-family: 'Spartan', sans-serif;
}

.nav{
	background-color: #1d2951;
	display: flex;
	align-items: center;
	flex: 7 1 auto;
	height: 100%;
	font-family: 'Alata', sans-serif;
	margin-left: 33%;
}

.nav{
	background-color: #1d2951;
	display: flex;
	align-items: center;
	flex: 7 1 auto;
	height: 100%;
	font-family: 'Alata', sans-serif;
	margin-left: 33%; 
}

.nav a{
	text-decoration: none;
	font-size: 15px;
	padding: 0 50px;
	color: white;
	opacity: .8;
}

.nav a:hover{
	opacity: 1;
}

.section{
	margin-top: 1px;
	height: 82%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.section__slider{
	background-color: white;
	width: 100%;
	height: 30em;
	overflow: hidden;
	border-top: 1px solid #7285a5;
	border-bottom: 1px solid #7285a5;
}

.section__slider p{
	position: absolute;
	border: 1px solid black;
	font-size: 35px;
	background-color: white;
	opacity: .8;
	width: 28%;
	height: 10%;
	padding: 0.5% 3%;
	top: 68%;
	left: 36%;
	font-family: 'Alata', sans-serif;
	border-radius: 20px;
}

.section__slider p a{
	text-decoration: none;
	color: black;
	opacity: .95;
	position: relative;
	left: 4%;
}

.section__slider p:hover a:hover{
	opacity: 1;
}

.section__slider ul{
	display: flex;
	width: 300%;
	animation: cambio 20s infinite;
}

.section__slider li{
	list-style: none;
	width: 100%;
}

.section__slider img{
	width: 100%;
}

@keyframes cambio{
	0% {margin-left: 0;}
	28% {margin-left: 0;}

	33% {margin-left: -100%;}
	61% {margin-left: -100%;}

	66% {margin-left: -200%;}
	94% {margin-left: -200%;}
}

.section__central{
	width: 100%;
	height: 18em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.central__cajas{
	background-color: #4c516d;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
}

.central__cajas img{
	position: relative;
	height: 260px;
	width: 82%;
	top: 5%;
	left: 10%;
	border: 1px solid #7285a5;
	opacity: .85;
}

.central__cajas img:hover{
	opacity: 1;
}

.section__texto{
	background-color: #1d2951;
	width: 100%;
	height: 18em;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-family: 'Cinzel', serif;
	border-bottom: 1px solid #7285a5;
	margin-top: 1px;
}

.section__texto p{
	width: 69%;
	height: 10em;
	font-size: 22px;
	color: white;
	position: relative;
	top: 1.8em;
}

.footer{
	background-color: #111e6c;
	width: 100%;
	height: 12em;
	border-top: 1px solid #7285a5;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.footer__cajas{
	height: 100%;
	position: relative;
	left: 33%;
}

.footer__cajas p{
	font-size: 14px;
	width: 15em;
	color: white;
	font-family: 'Alata', sans-serif;
	opacity: .8;
	margin-top: 3.2em;
}
